@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap');
@import "tailwindcss";



.font-playfair {
  font-family: 'Playfair Display', serif;
}
.font-nunito {
  font-family: 'Nunito Sans', serif;
}

.red-gradient{
   background: linear-gradient(to right, #ED0331, #87021C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.375; /* leading-snug = ~1.375 */
}
 
.heading-text{
  
}
